install numpy
install matplotlib
install cv2
install python-mnist


Install Appropriate Libraries and compatible version of Python. Run in Pycharm if possible
Create a new folder named venv and while setting intrepreter select this venv folder as script path 
